main {
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    background-color: darkred;
    border-radius: 10px;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grey{
    color: rgb(121, 113, 113);
    text-align: center;
    font-size: larger;
}
.pictitle{
    font-size: larger;
    text-align: center;
    padding-bottom: 15px;
}

figure {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    padding-top: 10px;
    padding-left: 120px;
}
.subhead{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
ul{
    font-family: sans-serif;
    padding-left: 400px;
    padding-right: 400px;
}
li{
    padding-bottom: 20px;
}
.quote{
    font-size: larger;
    padding-top: 10px;
    padding-left: 350px;
    padding-right: 350px;
}
#more{
    text-align: center;
    padding-top: 30px;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 15px;
}